* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, Helvetica, sans-serif;
}

#home-page {
    text-align: center;
}

a, a:visited {
    text-decoration: none;
    color: rgb(0, 128, 160);
}

#heading {
    text-align: center;
    margin-top: 16px;
}

.card-img {
    width: 200px;
    height: 10rem;
    padding: 8px;
    border-radius: 12px;
}

#recipe-img {
    display: block;
    margin: 24px auto;
    border-radius: 16px;
    height: auto;
    width: 400px;
}

#recipe-img:hover {
    transform: scale(1.1);
}

.container {
    margin: 16px;
    width: 1200px;
    margin: 0 auto;
}

.card {
    width: 200px;
    height: auto;
    border: 1px solid orange;
    border-radius: 24px;
    background-color: rgba(240, 255, 255, 0.501);
    display: inline-block;
    margin: 256px 64px;
}

.card:hover {
    transform: scale(2);
    box-shadow: 5px 5px 50px rgba(255, 166, 0, 0.3);
}

.text-link:hover {
    color: orange;
}

.card .text-link {
    margin: 8px;
}
